<div class="container-fluid" data-aos="slide-up" data-aos-duration="1000">
  <div
    class="row justify-content-center py-5 text-light"
    style="height: 250px; background-color: #212529"
  >
    <div class="col-5 text-center align-self-center" data-aos="fade-up">
      <h4>Lihat rekomendasi pengadaan barang</h4>
      <br />
      <a
        href="/rekomendasi?support=40&confidence=70"
        class="btn btn-success mb-3"
        style="height: 40px; width: 150px"
      >
        <i class="bi bi-award-fill"></i> Rekomendasi
      </a>
    </div>
  </div>
</div>
