<div class="container-fluid" data-aos="slide-up" data-aos-duration="1000">
  <div class="row justify-content-center text-light" style="height: 100px">
    <div class="col-5 text-center align-self-center" data-aos="fade-up">
      <p class="text-muted">Dinas Pekerjaan Umum Kabupaten Minahasa</p>
      <a href="#nav" class="btn btn-outline-success text-decoration-none"
        ><i class="bi bi-arrow-up"></i> Kembali ke atas</a
      >
    </div>
  </div>
</div>
