<div class="container-fluid">
  <div
    class="row py-5 justify-content-center align-items-center"
    style="height: 33rem"
  >
    <div class="col text-center" data-aos="fade-down">
      <div class="mb-3 mt-3">
        <img src="./image/logo.png" alt="" height="80px" style="opacity: 0.9" />
      </div>
      <h1 class="display-5 text-success">Aplikasi Inventaris Barang</h1>
      <h4 class="text-muted">Dinas Pekerjaan Umum Kabupaten Minahasa</h4>
      <p class="mt-4 mb-5 text-secondary" data-aos="fade-down">
        Selamat datang di aplikasi invertaris barang dinas pekerjaan umum
        kabupaten minahasa.
        <br />
        Tekan tombol lihat barang di bawah atau menu barang di atas untuk
        melihat ketersediaan barang.
        <br />
        Atau tekan tombol rekomendasi barang dibawah untuk melihat rekomendasi
        pengadaan barang.
      </p>
    </div>
  </div>
</div>
