<div
  class="modal fade"
  id="add"
  tabindex="-1"
  aria-labelledby="addLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="addLabel"><i class="bi bi-chevron-right"></i> Tambah barang</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/barang" enctype="multipart/form-data">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" name="name" placeholder=" " required autocomplete="off">
              <label for="name" class="form-label">Nama</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="brand" name="brand" placeholder=" " required autocomplete="off">
              <label for="brand" class="form-label">Merk</label>
            </div>
            <div class="form mb-3">
              <!-- <input type="text" class="form-control" id="code" name="code" placeholder=" " required autocomplete="off"> -->
              <label for="code" class="form-label">Kondisi</label>
              <select class="form-select" name="code" id="code" required>
                  <option value="BAIK">BAIK</option>
                  <option value="BAIK">RUSAK</option>
              </select>
            </div>
            <div class="form mb-3">
              <label for="category" class="form-label">Kategori</label>
              <select class="form-select" name="category" required>
                <% categories.forEach(category => { %>
                  <option value="<%= category.name %>"><%= category.name %></option>
                <% }) %>
              </select>
              <% if (!categories.length) { %>
                  <p class="form-text text-danger">
                    *Harap tambahkan kategori terlebih dahulu
                  </p>
              <% } %>
            </div>
            <div class="form mb-3">
              <label for="room" class="form-label">Ruangan</label>
              <select class="form-select" name="room" id="room" required>
                <% ruangans.forEach(ruangan => { %>
                  <option value="<%= ruangan.name %>"><%= ruangan.name %></option>
                <% }) %>
              </select>
              <% if (!ruangans.length) { %>
                  <p class="form-text text-danger">
                    *Harap tambahkan ruangan terlebih dahulu
                  </p>
              <% } %>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="quantity" name="quantity" placeholder=" " required autocomplete="off" min="1" max="99999" value="1">
              <label for="quantity" class="form-label">Jumlah</label>
            </div>
            <div class="mb-3">
              <label for="file" class="form-label">Foto</label>
              <input type="file" class="form-control" id="file" name="file">
              <div id="fileHelp" class="form-text">
                *png, jpeg, jpg, webp
              </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-outline-success"><i class="bi bi-box-seam-fill"></i> Tambah</button>
            </div>
        </form>
      </div>
    </div>
  </div>
