<div
  id="counter-section"
  class="container-fluid"
  data-aos="slide-right"
  data-aos-duration="1500"
>
  <div
    id="counter"
    class="row justify-content-evenly py-3"
    style="height: 400px; background-color: #212529"
  >
    <div
      class="col-5 text-center align-self-center"
      data-aos="slide-right"
      data-aos-duration="1500"
    >
      <a class="text-decoration-none" href="/ruangan?query=">
        <div class="card text-center hover-zoom" data-bs-theme="dark">
          <div class="card-header">Tekan untuk lihat semua</div>
          <div class="card-body">
            <h5 class="card-title text-success">
              <i class="bi bi-building-fill"></i> Ruangan
            </h5>
            <h1 class="mb-3"><%= ruangan %></h1>
            <p>ruang</p>
          </div>
          <div class="card-footer text-muted">- - -</div>
        </div>
      </a>
    </div>
    <div
      class="col-5 text-center align-self-center"
      data-aos="slide-right"
      data-aos-duration="1000"
    >
      <a class="text-decoration-none" href="/barang?field=name&query=">
        <div class="card text-center hover-zoom" data-bs-theme="dark">
          <div class="card-header">Tekan untuk lihat semua</div>
          <div class="card-body">
            <h5 class="card-title text-success">
              <i class="bi bi-box2-fill"></i> Barang
            </h5>
            <h1 class="mb-3"><%= barang %></h1>
            <p>item</p>
          </div>
          <div class="card-footer text-muted">- - -</div>
        </div>
      </a>
    </div>
  </div>
</div>
