<div class="container-fluid" data-aos="slide-up" data-aos-duration="1000">
  <div id="tentang" class="row justify-content-center" style="height: 600px">
    <div class="row my-5">
      <section id="google-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31910.094783863067!2d124.88680701537845!3d1.318559473738985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32871382d1705add%3A0x3e7c9e47136a8012!2sDinas%20Pekerjaan%20Umum%20Kab.%20Minahasa!5e0!3m2!1sid!2sid!4v1699125664464!5m2!1sid!2sid"
          width="100%"
          height="500"
          style="border: 0"
          allowfullscreen="true"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
    </div>
  </div>
</div>
